[submodule "scratch"]
	path = scratch
	url = https://github.com/proteansec/awesome-scratch
[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain
[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "radical"]
	path = radical
	url = https://github.com/Elv13/radical.git
[submodule "vicious"]
	path = vicious
	url = https://github.com/vicious-widgets/vicious
